
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eef1f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 20px -10px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: flex-start; 
}

.col {
  flex: 1 1 300px; 
  margin: 0 10px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-color: #ffffff; 
}

.weather-summary {
  box-sizing:border-box;
  padding: 15px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.122);
  flex-grow: 1; 
  flex-basis: 50%; 
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.weather-summary > p.highlight{
  box-sizing:border-box;
  width:100%;
  height:2em;
}
strong{
  margin-right:5px;
}
.current-conditions {
  flex-grow: 0; 
  flex-shrink: 1; 
  flex-basis: auto; 
}


.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0056b3;
}

p {
  margin: 5px 0 15px;
  color: #333;
  font-size: 16px;
}

.forecast {

  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  padding: 20px 0;
  scrollbar-width: thin;
  scrollbar-color: #007bff #eef1f5;
  -webkit-overflow-scrolling: touch;
  max-height: 500px;
  box-sizing: border-box;
  width:100%;
  
}

.forecast-day {
  
  flex: 0 0 auto;
  width: 220px;
  margin-right: 15px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.122);
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  height:100%;
  flex-direction: column;
  justify-content: center;

}

.forecast-day h3 {
  color: #007bff;
  font-size: 18px;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast::-webkit-scrollbar {
  height: 8px;
}

.forecast::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 4px;
}

.forecast::-webkit-scrollbar-track {
  background: #eef1f5;
}

@media screen and (max-width: 768px) {
  .forecast-day {
      margin-right: 10px;
  }
}


.temperature-high { background-color: #ffcccc; } 
.temperature-low { background-color: #cce5ff; } 
.temperature-warm { background-color: #a3ffa3}
.gray-highlight { background-color: #e6e6ff; }
.red-highlight { background-color: #ffd6d6;}
.yellow-highlight{ background-color: #ffffcc; }
p.highlight {
    padding: 8px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}
.temp-data{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  height: 30px;
}
.temperature-high { color: #cc0000; }
.temperature-low { color: #005cbf; }
.temperature-warm { color: #2d922d}
.red-highlight { 
  color: #5d2626;
 }
.gray-highlight { 
  color: #4d4d4d; 
}
.yellow-highlight{ 
  color: #937704; 
}
.button {
    margin-top: 25px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

form {
    width: auto;
    text-align: center;
}


.main {
    overflow-x: hidden; 
}

@media screen and (max-width: 768px) {
    .forecast {
        justify-content: center;
    }

    .forecast-day {
        width: 90%; 
        margin-right: 20px;
    }
}

