<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Enter City</title>
</head>
<body class="body">
    <div class="container">
        <h1 class="title">Weather Forecast Finder</h1>
        <form class="form" action="/weather" method="post">
            <div class="form-group">
                <label for="city">Enter City Name:</label>
                <input type="text" id="city" name="city" class="form-control" required>
            </div>
            <button type="submit" class="btn">Get Weather</button>
        </form>
    </div>
</body>
</html>
