<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <title>Enter City and Date Range</title>
  </head>
  <body class="body">
    <header>
      <ul>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>
    <main class="container">
      <h1 class="title">Weather Forecast Finder</h1>
      <form class="form" action="/weather" method="post">
        <div class="form-group">
          <label for="city">Enter City Name:</label>
          <input
            type="text"
            id="city"
            name="city"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="startDate">Start Date:</label>
          <input
            type="date"
            id="startDate"
            name="startDate"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="endDate">End Date:</label>
          <input
            type="date"
            id="endDate"
            name="endDate"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn">Get Weather</button>
      </form>
      <form class="form" action="/weather" method="post">
        <h1>Discover Your Local Weather Forecast</h1>
        <p>
          Explore the upcoming weather trends for the next five days, right
          where you are.
        </p>
        <input type="hidden" id="location" name="location" value="true" />

        <button type="submit" class="btn">Get Weather</button>
      </form>
    </main>
    <script>
      const getLocation = () => {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((position) => {
            const location = document.getElementById("location");
            location.value = `${position.coords.latitude},${position.coords.longitude}`;
            console.log("><>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>"+ location.value);
          });
        }
      };
      getLocation();
    </script>
  </body>
</html>
